/* main {
    height: 100vh;
    
} */

main>.container {
    padding: 60px 15px 0;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}


.newCases {
    color: rgb(255, 71, 111);
}